.not-visible {
    display: none;
}

body {
    background-color: bisque;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}


/*.modal-content {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    color: var(--bs-modal-color);*/
/*    pointer-events: auto;*/
/*    background-color: var(--bs-modal-bg);*/
/*    background-clip: padding-box;*/
/*    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);*/
/*    border-radius: var(--bs-modal-border-radius);*/
/*    outline: 0;*/
/*}*/
